*{
    padding: 0px;
    margin: 0px;
}
body{
     font-family: 'Roboto', 'Helvetica Neue', Arial, sans-serif; 
     overflow-x: hidden;
}
header{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 90px;
    margin-right: 90px;
    margin-top: 8px;
    position: static;
}

.left-nav ul li img{
    width: 100px;
    height: 100px;
}
li img{
    width: 40px;
    height: 40px;
}

.right-nav img{
    width: 40px;
    height: 40px;
    margin-left: 12px;
}
ul{
    display: flex;
    align-items: center;
    list-style: none;
    color: rgba(0, 0, 0, 0.747);
}

li{
    font-size: 15px;
    margin-left: 32px;
    margin-right: 12px;
     font-family: 'Roboto', 'Helvetica Neue', Arial, sans-serif; 
     font-style: normal; 
}

#heading-recharge{
    margin-left: 37vw;
    margin-top: 25px;
    font-size: 40px;
    font-family: 'Roboto', 'Helvetica Neue', Arial, sans-serif; 
    font-weight: bold;
}
 .second-part{
    display: flex;
    align-items: center;
    background-color: #f2f3f6;
    border-radius: 25px;
    width: fit-content;
    margin-left: 570px;
    margin-top: 20px;
}

.left-mobile{
    display: flex;
    align-items: center;
    color: rgb(24, 99, 184);
    padding: 7px;
    font-size: 11px;
     padding-left: 17px;
    padding-right: 15px;
}
.left-mobile:active{
 background-color: rgb(24, 99, 184);
 color: white;
 cursor: pointer;
  border-radius: 25px;
} 

.left-mobile h2{
    margin-left: 12px;
     font-family: 'Roboto', 'Helvetica Neue', Arial, sans-serif; 
}
.right-home{
    display: flex;
    align-items: center;
    color: rgb(24, 99, 184);
    padding: 7px;
    font-size: 11px;
    padding-left: 15px;
    padding-right: 17px;
    cursor: pointer;
}
 .right-home:active{
 background-color: rgb(24, 99, 184);
 color: white;
 cursor: pointer;
  border-radius: 25px;
} 

.right-home h2{
     margin-left: 12px;
      font-family: 'Roboto', 'Helvetica Neue', Arial, sans-serif; 
}

.third-part{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 23px;
}
input{
    padding: 11px;
    border-radius: 12px;
    font-size: 15px;
    width: 250px;
    border-top-color:#cfcacaf1;
     border-left-color:rgba(207, 202, 202, 0.945);
      border-right-color:rgba(207, 202, 202, 0.945);
       border-bottom-color:rgba(207, 202, 202, 0.945);
}

input:hover{
    border-top-color:rgb(24, 99, 184) ;
     border-bottom-color: rgb(24, 99, 184) ;
      border-right-color:rgb(24, 99, 184) ;
       border-left-color:rgb(24, 99, 184) ;
}
button{
    background-color:rgb(24, 99, 184) ;
    color: white;
    padding-right: 19px;
    border-radius: 19px;
    border: none;
    font-family: 'Roboto', 'Helvetica Neue', Arial, sans-serif ;
    font-size: 16px;
    padding-left: 19px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 12px;
    font-weight: bold;
}

button:hover{
    background-color: rgb(183, 183, 204);
    color: rgb(24, 99, 184) ;
}

.img1{
     display: flex;
     /* align-items: center;  */
   /* justify-content:center; */
    margin-top: 50px;
    position: relative;
    margin-left: 100px;
}

.img-text{
     position: absolute;
      font-family: Arial, sans-serif ;
      color: white;
      width: 450px;
      margin-left: 60px;
      margin-top: 150px;
}
.img1 img{
     border-radius: 28px;
     width: 1150px;
     display: block;
}

.img-text h1{
    font-size:40px ;
    font-weight: bold;
}

.img-text p{
    font-size: 20px;
    margin-top: 13px;
}

.img-btn{
    margin-top: 25px;
}
.forth{
    display: flex;
    align-items: center;
    justify-content: start;
    width: 1000px;
    height: 200px;
    margin-top: 40px;
    margin-left: 165px;
    background-color:rgb(31, 42, 138) ;
    color: white;
    border-radius: 28px;
}
.forth-part img{
    width: 180px;
    height: 170px;
    border-radius: 15px;
   margin-top: 15px;
   margin-bottom: 10px;
    margin-left: 30px;
}

.lines{
    margin-left: 25px;
    }

.lines p{
    font-size: 15px;
    margin-top: 10px;
}

.forth-btn{
    margin-top: 18px;
    border:1px solid white;
    background-color: transparent;
}

.forth-btn:hover{
    background-color: white;
    color: black;
}

.fifth-part{
    margin-top: 110px;
}
.icons{
    display: flex;
    align-items: center;
    justify-content: center;

    /* gap: 90px; */
}
.icon1{
    margin-right:60px ;
    background-color: rgb(220, 220, 240);
    padding: 10px;
    border-radius: 50%;
}

.icon2{
    margin-right:60px ;
    background-color: rgb(220, 220, 240);
    padding: 10px;
    border-radius: 50%;
}

 .icon3{
    margin-right:80px ;
    background-color: rgb(220, 220, 240);
    padding: 10px;
    border-radius: 50%;
}


.icon4{
    margin-right:70px ;
    background-color: rgb(220, 220, 240);
    padding: 10px;
    border-radius: 50%;
}

.icon5{
    margin-right: 40px;
    background-color: rgb(220, 220, 240);
    padding: 10px;
    border-radius: 50%;
}

.text{
    display: flex;
    align-items: center;
    justify-content: center;
}

.text h4{
    font-size: 14px;
   margin-right: 40px;
}

.sixth-part{
 margin-top: 80px;
}
.images{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.img2{
    background-color:rgb(38, 126, 226) ;
    width: 42vw;
    height:750px;
    border-radius: 28px;
    color: white;
}
.img2 img{
    width: 450px;
    height: 250px;
    margin-top: 110px;
    margin-left:60px ;
    border: 3px solid black;
    box-shadow: 10px 10px 35px black;
}
.img3 img{
   width: 42vw;
    height:750px;
    border-radius: 28px;
    
}
.img2 h2{
     margin-top: 60px;
     margin-left: 60px;
}

.img2 h1{
    font-weight: bold;
    font-size: 40px;
    width: 350px;
     margin-top: 20px;
     margin-left: 60px;
}

.sp-btn{
     margin-left: 60px;
     margin-top: 25px;
     background-color: rgb(31, 42, 138);
}
.img3{
    position: relative;
}

.contain{
    position: absolute;
     top:60px;
    left:60px;
    text-align: left;
    color: black; 
}
.contain h1{
    font-weight: bold;
    font-size: 40px;
     margin-top: 18px;
    width: 350px;
}

.sp-btn3{
    margin-top: 18px;
}

.text-section{
    margin-top: 45px;
    display: flex;
     text-align: center; 
      justify-content: center; 
}
.new-section h1{
    font-size: 40px;
    margin-bottom: 18px;
}

.new-section h5{
    font-size: 18px;
    color: #201f1f8f;
    margin-bottom: 37px;
}

.new-section button{
    color: rgb(31, 42, 138);
    background-color: white;
}

.new-section button:hover{
    color:rgb(53, 69, 214) ;
}
.video-section{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 6rem;
}

.video{
     border-radius: 28px;
}
.seventh-part{
    background-color: rgb(10, 81, 161);
    width: 99vw;
    height: 330px;
    color: white;
    margin-top: 100px;
}
.seventh-part h1{
    margin-left: 33vw;
    padding-top: 70px;
    font-size: 63px;
}
.seventh-part h2{
    margin-left: 40vw;
    margin-top: 25px;
}

 .buttons{
    padding-top: 40px;
   margin-left: 400px;
  
}
.buttons button{
    border: 1px solid white;
   background-color: transparent;
}
.buttons button:hover{
    color: rgb(24, 24, 90);
}

.footer{
    margin-top: 40px;
    height: 350px;
}
.headings{
    display: flex;
    width: 60vw;
    justify-content: space-between;
    font-weight: bold;
    margin-bottom: 20px;
    margin-left: 60px;
}

.links{
    display: flex;
    list-style: none;
     width: 80vw;
      color: rgb(44, 44, 44);
      margin-left: 50px;
    }

.second-text{
    margin-left: 100px;
}
.third-text{
    margin-left: 60px;
}

.fourth-text{
    margin-left: 80px;
    margin-top: 20px;
}
    .links li:hover{
        color: black;
        text-decoration: underline;
    }

.links li{
    padding-top: 25px;
 }

.fourth-text img{
    width: 40px;
    height: 40px;
    margin-left: 10px;
}
